@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*----------------------------------Heading*/

header {
background-color: #000;
color: #8f8f8f;
min-height: 100px;
margin: 0;}

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: Lato;
    color:#777777;
}

h2{
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#f8f8f8;
}

h6{
    color:#f8f8f8;
    margin:0;
}

#logo{
    float: left; 
    font-size: 280%;
    margin-left: 30px;
}
 
#menu{
    text-decoration: none;
    color: #8f8f8f;
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 2px;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
    color: rgb(255,223,0);
}

.active{
     border-bottom: 1px solid #777777;
}


#homebckg-image{
    height: 500px;
    background:url("../images/backgroung/yellow-nails.jpeg") no-repeat center center;
    background-size: cover;
    animation-name: home-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#homebckg-outer{
    height:500px;
    width: 100%;
    overflow:hidden;
    position: relative;
}
#cover-text, #cover-text h3 {
    color:rgb(255,223,0);
    text-align: center;
}

#cover-text, #cover-text h5 {
    color:rgb(233, 229, 229);
    text-align: center;
}

@keyframes homebckg-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 100%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 1px;

    width: 300px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 194, 107, 0.4);

    top:150px;
    left:100px;

    position: absolute;
}

.list-inline{
    margin:0;
}

.list-inline-item:not(:last-child){
    margin:0;
    text-align: center;
}

.menucontainer{
    font-size:0;
}

#nav li{
    font-size: 14px;
    padding:0;
}

/*----------------------------------Block,Text*/
.uppercase {
    text-transform: uppercase;
}

.general-sub{
    font-family: "Exo", sans-serif;
    font-weight:300;
    color:#fafafa;
}

.inline-block {
    display: inline-block;
}

/*----------------------------------Footer*/

footer {
background-color: #000;
color: #fafafa;
min-height: 80px;
margin: 0;}

.social-links {
    padding-bottom: 10px;
    margin:0;
    text-align: center;
    }

.social-links li a i {
          width: 32px;
          height: 32px;
          padding: 12px 0;
          border-radius: 50%;
          font-size: 13px;
          line-height: 7px;
          text-align: center;
          color: #fafafa;
          background: #8f8f8f;
          transition: all 0.35s ease-in-out;
          -moz-transition: all 0.35s ease-in-out;
          -webkit-transition: all 0.35s ease-in-out;
          -o-transition: all 0.35s ease-in-out;}

.social-links li a i:hover {
background: rgb(255,223,0);}

#footer-details {
    padding: 20px;
    margin:0;
    text-align: center;
}

.container-fluid{
    margin:0;
    text-align:center;
}

.row{}

.col-sm-4{}

.signature{
    color: #8f8f8f;
    height: x-small;
    text-align: left;
    
}

/*----------------------------------Gallery*/
img{
    margin:0;
    padding:0;
    height: 325px;
    width: 325px;
    display:inline-block;}

#img-gallery{
    margin:0;
    padding:0x;
    height: auto;
    max-width: 100%;
    column-count: 4;
    column-gap: 0px;
}