@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*----------------------------------Heading*/

header {
background-color: #000;
color: #8f8f8f;
min-height: 100px;
margin: 0;}

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: Lato;
    color:#777777;
}

h2{
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#f8f8f8;
}

h6{
    color:#f8f8f8;
    margin:0;
}

#logo{
    float: left; 
    font-size: 280%;
    margin-left: 30px;
}
 
#menu{
    text-decoration: none;
    color: #f8f8f8;
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 2px;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
    color: rgb(255,223,0);
}

.active{
     border-bottom: 1px solid #777777;
}

#homebckg-image{
    opacity: 0.9;
    height: 500px;
    background:url("../images/backgroung/yellow-nails.jpeg") no-repeat center center;
    background-size: cover;
    animation-name:homebckg-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    margin-top:2px;
    margin-bottom:2px;
}

#homebckg-outer{
    height:500px;
    width: 100%;
    overflow:hidden;
    position: relative;
}
#cover-text, #cover-text h3 {
    color:rgb(255,223,0);
    text-align: center;
}

#cover-text, #cover-text h5 {
    color:rgb(233, 229, 229);
    text-align: center;
}

@keyframes homebckg-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 100%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 1px;

    width: 300px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 194, 107, 0.4);

    top:150px;
    left:100px;

    position: absolute;
}

.list-inline{
    margin:0;
}

.list-inline-item:not(:last-child){
    margin:0;
    text-align: center;
}

.menucontainer{
    font-size:0;
}

#nav li{
    font-size: 14px;
    padding:0;
}

/*----------------------------------Block,Text*/
.uppercase {
    text-transform: uppercase;
}

.general-sub{
    font-family: "Exo", sans-serif;
    font-weight:300;
    color:#fafafa;
}

.inline-block {
    display: inline-block;
}

/*----------------------------------Footer*/

footer {
background-color: #000;
color: #fafafa;
min-height: 80px;
margin-top:2px;}

.social-links {
    padding-bottom: 10px;
    margin:0;
    text-align: center;
    }

.social-links li a i {
          width: 32px;
          height: 32px;
          padding: 12px 0;
          border-radius: 50%;
          font-size: 13px;
          line-height: 7px;
          text-align: center;
          color: #fafafa;
          background: #8f8f8f;
          transition: all 0.35s ease-in-out;
          -moz-transition: all 0.35s ease-in-out;
          -webkit-transition: all 0.35s ease-in-out;
          -o-transition: all 0.35s ease-in-out;}

.social-links li a i:hover {
background: rgb(255,223,0);
color:#8f8f8f}

#footer-details {
    padding: 20px;
    margin:0;
    text-align: center;
}

.container-fluid{
    margin:0;
    text-align:center;
}

.row{}

.col-sm-4{}

.signature{
    color: #8f8f8f;
    height: x-small;
    text-align: left;
    
}
/*----------------------------------Services*/

#servicesbckg-image{
    opacity: 0.9;
    height: 500px;
    background:url("../images/backgroung/guantepink.jpeg") no-repeat center center;
    background-size: cover;
    animation-name:servicesbckg-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    margin-top:2px;
    margin-bottom:2px;
}

#servicesbckg-outer{
    height:550px;
    width: 100%;
    overflow:hidden;
    position: relative;
}
#servicescover-text, #servicescover-text h3 {
    color:rgb(255,223,0);
    text-align: center;
}

#servicescover-text, #servicescover-text h5 {
    color:rgb(233, 229, 229);
    text-align: center;
}

@keyframes servicesbckg-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#servicescover-text {
    font-size: 100%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 1px;

    width: 300px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color:#8f8f8f);

    top:150px;
    left:100px;

    position: absolute;
}

#whours{
    margin:0;
    padding:0;
    color:#8f8f8f;
}

/*----------------------------------Contact*/
#contactbckg-image{
    opacity: 0.9;
    height: 500px;
    background: url("../images/backgroung/corona.jpeg") no-repeat center center;
    background-size: cover;
    animation-name:servicesbckg-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    margin-top:2px;
    margin-bottom:2px;
}

#contactbckg-outer{
    height:500px;
    width: 100%;
    overflow:hidden;
    position: relative;
}
#contactcover-text, #contactcover-text h3 {
    color:rgb(255,223,0);
    text-align: center;
}

#contactcover-text, #contactcover-text h5 {
    color:rgb(233, 229, 229);
    text-align: center;
}

@keyframes contactbckg-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#contactcover-text {
    font-size: 100%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 1px;

    width: 500px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color:#8f8f8f);

    top:150px;
    left:100px;

    position: absolute;
}

#contactus{
    height: 100px;
    float: both;
    margin:0;
}


/*----------------------------------Gallery*/
#gallerybckg-image{
    opacity: 0.9;
    height: 500px;
    background:url("../images/backgroung/nailscolors.jpg") no-repeat center center;
    background-size:cover;
    animation-name:servicesbckg-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;

}

#gallerybckg-outer{
    height:400px;
    width: 100%;
    overflow:hidden;
    position: relative;
}
#gallerycover-text, #gallerycover-text h3 {
    color:rgb(255,223,0);;
    text-align: center;
}

#gallerycover-text, #gallerycover-text h5 {
    color:rgb(233, 229, 229);
    text-align: center;
}

@keyframes gallerybckg-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#gallerycover-text {
    font-size: 100%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 1px;

    width: 300px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color:#8f8f8f);

    top:150px;
    left:100px;

    position: absolute;
}

img{
    margin:7px;
    padding:0px;
    border:0;
    border-image: 0px;
    border-color:none;
    height: 300px;
    width:300px;}

#img-gallery{
    background-color:#fff;
    clear:both;
    margin-top:2px;
    margin-bottom:2px;
    padding:0px;
    column-gap: 0px;
    column-count:4;
}

#gallerycover-text {
    font-size: 100%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 1px;

    width: 300px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color:none;

    top:150px;
    left:100px;

    position: absolute;
}
/*----------------------------------lr*/

#servicesoptions{
    height: 650px;
    clear: both;
    float: both;
    margin:0;
}

#servicesoptions div{
   text-align: center;
   display: inline-block;
   margin:10px;
}

#servicesoptions h4{
   text-align: center;
   color:#8f8f8f;
   float:both;
   text-transform: uppercase;
   letter-spacing: 1px;
}

#servicesoptions p{
   text-align: center;
   vertical-align:top;
   color:#777777;
   text-transform: uppercase;
   height:auto;
   margin:10px;

}

#manicure{
    margin:0 auto;
    padding-top: 0px;
    width: 20%;
}

#french{
    margin:0 auto;
    padding-top: 0px;
    width:20%;
}

#nailart{
    margin:0 auto;
    padding-top: 0px;
    width:20%;
}

#uvgel{
    margin:0 auto;
    padding-top: 0px;
    width:20%;
}

#polish{
    margin:0 auto;
    padding-top: 0px;
    width:20%;
}

#removegel{
    margin:0 auto;
    padding-top: 0px;
    width:20%;
}

#repair{
    margin:0 auto;
    padding-top: 0px;
    width:20%;
}

#removeacrylic{
    margin:0 auto;
    padding-top: 0px;
    width:20%;
}

hr{
    border-top: 1px solid #777777;
    width: 100%;
    margin: 5px 0;
}

.servicesheading{
    width: 75%;
    height: 100%;
    line-height: 20px;
    margin-bottom: 50px;
    clear: both;
    color: #8f8f8f;
}

.welcome{
    margin-bottom:30px;
    text-align: center;
    font-size: 280%;
    color: rgb(255,223,0);
    letter-spacing: 1px;
    height:0 auto;
    width:100%;
}

.circle-container{
    width: 200px;
    height: 200px;
    padding:15px;
    border-style: solid;
    border-color:rgb(255,223,0);
    border-width: 2px;
    border-radius: 50%;
    margin:0 auto;
}
 
#manicure-cover-bg{
    background: url("../images/gallery/g1.jpg") no-repeat center center;
    height:100%;
    border-radius: 50%;
}

#nailart-cover-bg{
    background: url("assets/images/services/nailart.jpg") no-repeat center center;
    height:100%;
    border-radius: 50%;
}

#french-cover-bg{
    background: url("../images/services/french.jpg") no-repeat center center;
    height:100%;
    border-radius: 50%;
}

#uvgel-cover-bg{
    background: url("../images/services/uvgel.jpg") no-repeat center center;
    height:100%;
    border-radius: 50%;
}

#polish-cover-bg{
    background: url("../images/services/polish.jpg") no-repeat center center;
    height:100%;
    border-radius: 50%;
}

#removegel-cover-bg{
    background: url("../images/services/removegel.jpg") no-repeat center center;
    height:100%;
    border-radius: 50%;
}

#repair-cover-bg{
    background: url("../images/services/repairnail.jpg") no-repeat center center;
    height:100%;
    border-radius: 50%;
}

#removeacrylic-cover-bg{
    background: url("../images/services/removeacrylic.jpg") no-repeat center center;
    height:100%;
    border-radius: 50%;
}

/*----------------------------------Book an Appointment*/
.continer-fluid .box{
    width:100%;
    align-content: center;
    background-color: none;
}

#book{
    margin:0;
}

.box {
    margin:0px;
    padding:5px;
    width: 100%;
    height: auto;
    border: solid 2px #f8f8f8f;
    background-color:#f8f8f8;
    content:"";
    z-index:-1;
    -webkit-box-shadow: 0 0 20px #f8f8f8;
    -moz-box-shadow: 0 0 20px #f8f8f8;
    box-shadow: 0 5px 20px #f8f8f8;
}

.box-header{
    font-weight: bold;
    color: rgb(255,223,0);
    background-color: #000;
    margin:0;
    padding:0;
    align: center;
    height: 50px;
}

.box-header h3{
    color: rgb(255,223,0);
    vertical-align: center;
    letter-spacing: 1px;
    margin:0;
    padding: 0;
}

#disabledSelect{
    height: 30px;
}
/*
.form-control {
    height: 30px;
}
*/
.form-group1 {
    padding-bottom: 45px;
    height: auto;
    max-height:65px
}

#disabledSelect{
    padding-bottom: 25px;
}

label .checkbox {
    font-size: 1em;
    font-weight: bold;
    color: #8f8f8f;
}

label{
    letter-spacing: 1px;
    font-size: 110%;
    font-weight: bold;
}

.btn{
    border: solid 1px #8f8f8f;
    color: #fafafa;
    background: #8f8f8f;
}

button:hover {
background: rgb(255,223,0);
border: solid 2px rgb(255,223,0);
color:#8f8f8f
}

.help-block {
    color: #8f8f8f;
}
.col-md-12{
    margin:0;
}
#book-outer{
    height:auto;
    width: auto;
    overflow:hidden;
    background-color: none;
    margin:0px;
    padding-top:0px;
}

.form-group li a i {
          width: 32px;
          height: 32px;
          padding: 12px 0;
          border-radius: 50%;
          font-size: 13px;
          line-height: 7px;
          text-align: center;
          color: #fafafa;
          background: #8f8f8f;
          transition: all 0.35s ease-in-out;
          -moz-transition: all 0.35s ease-in-out;
          -webkit-transition: all 0.35s ease-in-out;
          -o-transition: all 0.35s ease-in-out;}

.form-group li a i:hover {
background: rgb(255,223,0);
color:#8f8f8f;}

.col-6 hr{
    color:rgb(255,223,0);
    border: solid 2px rgb(255,223,0);
}

checkbox{
    background-color:none;
    color:#8f8f8f;}

.checkbox input[type=checkbox]:checked + label:after {
  opacity: 0;
  color:#8f8f8f;
  background-color: rgb(255,223,0);
  border-color: rgb(255,223,0); 
  border-radius: 50%;
} 

.checkbox input[type="checkbox"] + label::before
{background-color: #fff;  border-color: #8f8f8f;
border-radius: 50%;}