@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*----------------------------------Heading*/

header {
background-color: #000;
color: #8f8f8f;
min-height: 100px;
margin: 0;}

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: Lato;
    color:#777777;
}

h2{
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#f8f8f8;
}

h6{
    color:#f8f8f8;
    margin:0;
}

#logo{
    float: left; 
    font-size: 280%;
    margin-left: 30px;
}
 
#menu{
    text-decoration: none;
    color: #f8f8f8;
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 2px;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
    color: rgb(255,223,0);
}

.active{
     border-bottom: 1px solid #777777;
}

#homebckg-image{
    opacity: 1;
    height: 100%;
    background:url("../images/background/yellow-nails.jpeg") no-repeat center center;
    background-size: cover;
    animation-name:homebckg-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    margin-top:2px;
    margin-bottom:2px;
}

#homebckg-outer{
    height:525px;
    width: 100%;
    overflow:hidden;
    position: relative;
}
#cover-text, #cover-text h3 {
    color:rgb(255,223,0);
    text-align: center;
    letter-spacing: 1px;
}

#cover-text, #cover-text h5 {
    color:#f8f8f8;
    text-align: center;
}

@keyframes homebckg-zoom {
    from{
        transform: scale(1.05);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 100%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 1px;

     width: 430px;
    height: 550px;

    padding-top: 225px;
    padding-left:50px;
    padding-right:0px;

    background-image: linear-gradient(to right,rgb(5, 5, 5), transparent);
    top:0px;
    left:0px;

    position:absolute;
}

.list-inline{
    margin:0;
}

.list-inline-item:not(:last-child){
    margin:0;
    text-align: center;
}

.menucontainer{
    font-size:0;
}

#nav li{
    font-size: 14px;
    padding:0;
}

/*----------------------------------Block,Text*/
.uppercase {
    text-transform: uppercase;
}

.general-sub{
    font-family: "Exo", sans-serif;
    font-weight:300;
    color:#fafafa;
}

.inline-block {
    display: inline-block;
}

/*----------------------------------Footer*/

footer {
background-color: #000;
color: #fafafa;
min-height: 80px;
margin-top:2px;}

.social-links {
    padding-bottom: 10px;
    margin:0;
    text-align: center;
    }

.social-links li a i {
          width: 32px;
          height: 32px;
          padding: 12px 0;
          border-radius: 50%;
          font-size: 13px;
          line-height: 7px;
          text-align: center;
          color: #fafafa;
          background: #8f8f8f;
          transition: all 0.35s ease-in-out;
          -moz-transition: all 0.35s ease-in-out;
          -webkit-transition: all 0.35s ease-in-out;
          -o-transition: all 0.35s ease-in-out;}

.social-links li a i:hover {
background: rgb(255,223,0);
color:#8f8f8f}

#footer-details {
    padding: 20px;
    margin:0;
    text-align: center;
}

.container-fluid{
    margin:0;
    text-align:center;
}

.row{}

.col-sm-4{}

.signature{
    color: #8f8f8f;
    text-align: left;
    
}
/*----------------------------------Services*/

#servicesbckg-image{
    opacity: 1;
    height: 100%;
    background:url("../images/background/guantepink.jpeg") no-repeat center center;
    background-size: cover;
    animation-name:servicesbckg-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    margin-top:2px;
    margin-bottom:2px;
}

#servicesbckg-outer{
    height:550px;
    width: 100%;
    overflow:hidden;
    position: relative;
}
#servicescover-text, #servicescover-text h3 {
    color:rgb(255,223,0);
    text-align: center;
    letter-spacing: 1px;
}

#servicescover-text, #servicescover-text h5 {
    color:rgb(233, 229, 229);
    text-align: center;
}

@keyframes servicesbckg-zoom {
    from{
        transform: scale(1.05);
    }
    to{
        transform: scale(1.1);
    }
}

#servicescover-text {
    font-size: 100%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 1px;

    width: 430px;
    height: 550px;

    padding-top: 225px;
    padding-left:50px;
    padding-right:0px;

    background-image: linear-gradient(to right,rgb(5, 5, 5), transparent);
    top:0px;
    left:0px;

    position:absolute;
}

#whours{
    margin:0;
    padding:0;
    color:#8f8f8f;
}

/*----------------------------------Contact*/
#contactbckg-image{
    opacity: 1;
    height: 100%;
    background: url("../images/background/corona.jpg") no-repeat center center;
    background-size: cover;
    animation-name:contactbckg-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    margin-top:2px;
    margin-bottom:2px;
}

#contactbckg-outer{
    height:550px;
    width: 100%;
    overflow:hidden;
    position: relative;
}

#contactcover-text, #contactcover-text h3 {
    color:rgb(255, 221, 0);
    text-align: center;
    letter-spacing: 1px;
}

#contactcover-text, #contactcover-text h5 {
    color:rgb(233, 229, 229);
    text-align: center;
}

@keyframes contactbckg-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#contactcover-text {
    font-size: 100%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 1px;

    width: 430px;
    height: 550px;

    padding-top: 225px;
    padding-left:50px;
    padding-right:0px;

    background-image: linear-gradient(to right,rgba(5, 5, 5, 0.473), transparent);
    top:0px;
    left:0px;

    position:absolute;
}

#contactus{
    margin:0;
    height:250px;
    width: 100%;
    clear: both;
}

#contactus h4 {
    color:#6b6b6b;
    text-align: center;
}

#contactus h6{
    color:#7c7c7c;
    text-align: center;
}

#contactus p {
    color:#afafaf;
    text-align: center;
}

.fa-calendar{
    display: inline-block;
}

/*----------------------------------Gallery*/
#gallerybckg-image{
    opacity: 1;
    height: 100%;
    background:url("../images/background/orangenails.jpg") no-repeat center center;
    background-size:cover;
    animation-name:gallerybckg-zoom;
    animation-duration: 5s;
    animation-fill-mode:forwards;
    margin-left:10px;
    margin-right:10px;
    margin-top:30px;
    margin-bottom:30px;

}

#gallerybckg-outer{
    height:550px;
    width:100%;
    overflow:hidden;
    position:relative;
}
#gallerycover-text h3 {
    color:rgb(255,223,0);
    letter-spacing: 1px;
    text-align: center;
}

#gallerycover-text h5 {
    color:rgb(233, 229, 229);
    text-align: center;
}

@keyframes gallerybckg-zoom {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1.15);
    }
}

#gallerycover-text {
    font-size:100%;
    font-family:Oswald;
    text-transform:uppercase;
    letter-spacing:1px;

    width: 475px;
    height: 550px;

    padding-top: 225px;
    padding-left:25px;
    padding-right:0px;

    background-image: linear-gradient(to right,#000, transparent);
    top:0px;
    left:0px;

    position:absolute;
}

.thumbnail img{
    margin:0px;
    padding:0px;
    border:0;
    height:275px;
    width:100%;
    vertical-align: center;
}


#img-gallery img{
    margin:7px;
    padding:0px;
    border:0;
    height:300px;
    width:300px;
    vertical-align: center;
}


#img-gallery{
    background-color:#fff;
    margin-top:2px;
    margin-bottom:2px;
    padding:0px;
    column-gap: 0px;
    column-count:4;
}

#gallery{
    margin-top:50px;
    margin-bottom:20px;
    margin-right: 0;
    text-align: center;
}

#gallery p{
    padding-top: 5px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color:#8f8f8f;
    font-size: smaller;
}
/*----------------------------------lr*/

#servicesoptions{
    height: 900px;
    clear: both;
    margin:0;
    padding:0;
    align-content: center;
    vertical-align: center;
}

#servicesoptions div{
   text-align: center;
   display: inline-block;
   margin:5px;
}

#servicesoptions h4{
   text-align: center;
   color:#6b6b6b;
   text-transform: uppercase;
   letter-spacing: 1px;
}

#servicesoptions p{
   text-align: center;
   vertical-align:top;
   color:#777777;
   text-transform: uppercase;
   height:auto;
   margin:10px;
}

#manicure{
    margin:0 auto;
    padding-top: 0px;
    width: 20%;
}

#french{
    margin:0 auto;
    padding-top: 0px;
    width:20%;
}

#nailart{
    margin:0 auto;
    padding-top: 0px;
    width:20%;
}

#uvgel{
    margin:0 auto;
    padding-top: 0px;
    width:20%;
}

#polish{
    margin:0 auto;
    padding-top: 0px;
    width:20%;
}

#removegel{
    margin:0 auto;
    padding-top: 0px;
    width:20%;
}

#repair{
    margin:0 auto;
    padding-top: 0px;
    width:20%;
}

#removeacrylic{
    margin:0 auto;
    padding-top: 0px;
    width:20%;
}

hr{
    border-top: 1px solid #777777;
    width: 100%;
    margin: 5px 0;
}

.servicesheading{
    width: 75%;
    height: 100%;
    line-height: 20px;
    margin-bottom: 50px;
    clear: both;
    color: #8f8f8f;
}

.welcome{
    text-transform: uppercase;
    margin-bottom:20px;
    margin-top:20px;
    text-align: center;
    font-size: 250%;
    color: rgb(255,223,0);
    letter-spacing: 1px;
    width:100%;
}

.circle-container{
    width: 200px;
    height: 200px;
    padding:15px;
    border-style: solid;
    border-color:rgb(255,223,0);
    border-width: 2px;
    border-radius: 50%;
    margin:0 auto;
}

.circle-container img{
    margin:0;
    padding:0;
    align-content: center;
    border-radius: 50%;
    width: 170px;
    height: 170px;
}

#servicesoptions .container-fluid{
    width:100%;
    align-content: center;
    height:900px;
}

img #servicesoptions{
    max-width: 270px;
    max-height: 270px;
    align-content: center;
}

/*----------------------------------Book an Appointment*/
.container-fluid .box{
    width:100%;
    align-content: center;
}

#book{
    margin:0;
}

.box {
    margin:0px;
    padding:5px;
    width: 100%;
    height: auto;
    border: solid 2px #f8f8f8;
    background-color:#f8f8f8;
    content:"";
    z-index:-1;
    -webkit-box-shadow: 0 0 20px #f8f8f8;
    -moz-box-shadow: 0 0 20px #f8f8f8;
    box-shadow: 0 5px 20px #f8f8f8;
}

.box-header{
    font-weight: bold;
    color: rgb(255,223,0);
    background-color: #000;
    margin:0;
    padding:0;
    height: 50px;
}

.box-header h3{
    color: rgb(255,223,0);
    vertical-align: center;
    letter-spacing: 1px;
    margin:0;
    padding: 0;
}

#disabledSelect{
    height: 30px;
}
/*
.form-control {
    height: 30px;
}
*/
.form-group1 {
    padding-bottom: 45px;
    height: auto;
    max-height:65px
}

#disabledSelect{
    padding-bottom: 25px;
}

label .checkbox {
    font-size: 1em;
    font-weight: bold;
    color: #8f8f8f;
}

label{
    letter-spacing: 1px;
    font-size: 110%;
    font-weight: bold;
}

.btn{
    border: solid 1px #8f8f8f;
    color: #fafafa;
    background: #8f8f8f;
}

button:hover {
background: rgb(255,223,0);
border: solid 2px rgb(255,223,0);
color:#8f8f8f
}

.help-block {
    color: #8f8f8f;
}
.col-md-12{
    margin:0;
}
#book-outer{
    height:auto;
    width: auto;
    overflow:hidden;
    margin:0px;
    padding-top:0px;
}

.form-group li a i {
          width: 32px;
          height: 32px;
          padding: 12px 0;
          border-radius: 50%;
          font-size: 13px;
          line-height: 7px;
          text-align: center;
          color: #fafafa;
          background: #8f8f8f;
          transition: all 0.35s ease-in-out;
          -moz-transition: all 0.35s ease-in-out;
          -webkit-transition: all 0.35s ease-in-out;
          -o-transition: all 0.35s ease-in-out;}

.form-group li a i:hover {
background: rgb(255,223,0);
color:#8f8f8f;}

.col-6 hr{
    color:rgb(255,223,0);
    border: solid 2px rgb(255,223,0);
}

checkbox{
    color:#8f8f8f;}

.checkbox input[type=checkbox]:checked + label:after {
  opacity: 0;
  color:#8f8f8f;
  background-color: rgb(255,223,0);
  border-color: rgb(255,223,0); 
  border-radius: 50%;
} 

.checkbox input[type="checkbox"] + label::before
{background-color: #fff;  border-color: #8f8f8f;
border-radius: 50%;}


/* Customer's Reviews/ */

#reviewsbckg-image{
    opacity: 1;
    height: 525px;
    background:url("../images/background/lija.jpg") no-repeat center center;
    background-size:cover;
    animation-name:reviewsbckg-zoom;
    animation-duration: 5s;
    animation-fill-mode:forwards;
    margin-left:10px;
    margin-right:10px;
    margin-top:30px;
    margin-bottom:30px;
}

#reviewsbckg-outer{
    height:550px;
    width:100%;
    overflow:hidden;
    position:relative;
}
#reviewscover-text, #reviewscover-text h3 {
    color:rgb(255,223,0);
    text-align: center;
    letter-spacing: 1px;
}

#reviewscover-text, #reviewscover-text h5 {
    color:rgb(233, 229, 229);
    text-align: center;
}

@keyframes reviewsbckg-zoom {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1.2);
    }
}

#reviewscover-text {
    font-size:100%;
    font-family:Oswald;
    text-transform:uppercase;
    letter-spacing:1px;

    width: 430px;
    height: 550px;

    padding-top: 225px;
    padding-left:50px;
    padding-right:0px;

    background-image: linear-gradient(to right,rgb(5, 5, 5), transparent);
    top:0px;
    left:0px;

    position:absolute;
}

#reviews{
    margin-top:30px;
    margin-bottom:30px;
    margin-right: 0;
    text-align: center;
}

#reviews .container-fluid{
   align-content:center;
}

#reviews p{
    color:#f8f8f8;
}

#reviews h4{
    color: rgb(255,223,0);
}

/* Testimonial slider full-width */

/* Rating--------------------- */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    font-size: 3vw;
    color: #FFD600;
    cursor: pointer;
}

.rating>label::before {
    content:"\2605";
    position: absolute;
    opacity: 0;
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1;
}

.rating:hover>input:checked~label:before {
    opacity: 0.4;
}

.rating {
    background: #222225;
    color: white;
    height:auto;
}

#ratingsection{
    margin-top:30px;
    margin-bottom:30px;
    margin-left:0;
    margin-right: 0;
    text-align: center;
    vertical-align: center;}

#ratingsection .container-fluid{
    align-content:center;
    vertical-align: center;
}
